{% extends 'base.html.twig' %}

{% block title %} List des post {% endblock %}
{% block body %}


    <h1> La list des Post</h1>

    <table border="5px">
        <tr>
            <td>Id</td>
            <td>title</td>
            <td>Content</td>
        </tr>
        <tr>
            <td>Michelle</td>
            <td>26 ans</td>
            <td>États-Unis</td>
        </tr>
    </table>

{% endblock %}