{% extends 'base.html.twig' %}

{% block title %} List des post {% endblock %}
{% block body %}


    <h1> La list des Post</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">title</th>
            <th scope="col">content</th>
            <th scope="col">actions</th>
        </tr>
        </thead>
        <tbody>

        {% for post in posts %}
            <tr>
                <th>{{ post.id }}</th>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>TODO ACTION</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}